<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Material Supply Management</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts {
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let myTab = document.getElementById('myTab');
            let activeTab = localStorage.getItem('activeTab');

            if (activeTab) {
                let tab = new bootstrap.Tab(document.querySelector(activeTab));
                tab.show();
            }

            myTab.addEventListener('click', function (event) {
                if (event.target && event.target.nodeName === "BUTTON") {
                    localStorage.setItem('activeTab', `#${event.target.id}`);
                }
            });
        });
    </script>
}
